.env
dw_etl.log
/seeds/*
/migration/backup_migration/
/migration/*
.DS_Store
etl/example_new_etl.py
models/utils/__pycache__/core.cpython-39.pyc
models/dimensions/__pycache__/dim_tema.cpython-39.pyc
sql/dml/consulta_temas_por_uf_raw.sql
models/dimensions/__pycache__/dim_ies.cpython-39.pyc
